// The second way that a modifier can be used is to make small changes to existing behavior.
// Here's an example using modifers to allow for different size textboxes:

.textbox {
  font: 13px sans-serif;
  border: 1px solid #ccc;
  border-top: 1px solid #999;
  border-radius: 2px;
  padding: 2px 4px;

  &:focus { outline: none; border: 1px solid #69e; }

  &.large { font-size: 18px; }
  &.small { font-size: 11px; padding: 1px 2px; }
}

