.clearfix 		{ @include clearfix; }

.is-hidden    	{ display:    none !important; }
.is-invisible 	{ visibility: none !important; }

.block        	{ display: block        !important; }
.inline       	{ display: inline       !important; }
.inline-block 	{ display: inline-block !important; }

.left  			{ float: left  !important; }
.right 			{ float: right !important; }

.text-left   	{ text-align: left   !important; }
.text-center 	{ text-align: center !important; }
.text-right  	{ text-align: right  !important; }

.mt0 			{ margin-top:    0   !important; }
.mt1 			{ margin-top:    1em !important; }
.mb0 			{ margin-bottom: 0   !important; }
.mb1 			{ margin-bottom: 1em !important; }